
<br>
<br>
<br>
<div  class="container"><div  class="container shadow p-3 mb-5 bg-white rounded">
    <h2 >Contact</h2><div  class="table-responsive"><table  class="table table-hover">
        <thead >
            <tr  class="table-active">
                <th  scope="col">Address</th>
                <th  scope="col">38 / 57 P. S. Siva Swami Salai, Mylapore, Chennai - 600004 </th>
            </tr>
        </thead>
        <tbody >
            <tr >
                <th  scope="row">Mobile Number</th><td > 8056134692 | 9840515985</td>
            </tr>
            <tr  class="table-active">
                <th  scope="row">mail id</th>
                <td >praveenpkg8@gmail.com | praveensetu@gmail.com</td>
            </tr>
        </tbody>
       
    </table>
   
</div>

</div>
<div class="container">
        <a href="https://www.facebook.com/yooprawin"><img src="../../assets/fb.png" style="height:8%;width:3%;margin-left: 30%"></a>
        <a href="https://www.instagram.com/praveen_matrum_kumar/"><img src="../../assets/insta.png" style="height:8%;width:3%;margin-left: 3%"></a>
        <a href="https://github.com/praveenpkg8"><img src="../../assets/git.png" style="height:10%;width:4%;margin-left: 3%"></a>
        <a href="https://www.linkedin.com/in/praveenpkg8/"><img src="../../assets/lin.png" style="height:8%;width:3%;margin-left: 3%"></a>
        <a href="https://www.hackerrank.com/praveenpkg8"><img src="../../assets/hr.png" style="height:10%;width:4%;margin-left: 3%"></a>
        <a href="https://www.hackerrank.com/praveenpkg8"><img src="../../assets/he.png" style="height:8%;width:3%;margin-left: 3%"></a>





</div>
</div>