<br>
<br>
<br>
<div class="bg">
<div  class="container">
  <div  class="row">
  <div  class="col">
    <div  class="container shadow p-3 mb-5 rounded">
      <h1  class="display-3 text-white">Hello, Pal!</h1>
      <h4  class="text-white">I'm Praveen and you have just landed on my site!</h4>
      <hr  class="my-4">
      <p  class="text-light">Welcome to my site. One thing that always fascinate me is Programming.</p>
      <p  class="text-light"> I used amuse to the logics that a product or problem is solved. For new pals, I realy Love to code. The Constant intrest in Computers made me to chose Information Technology as profession 
        <br > I like watching movies and TV shows. I'm a huge fan of MS Dhoni and Messi.</p>
          <a  class="btn btn-success btn-lg" href="/about" role="button">Know more</a>
        </div>
      </div>
      <div  class="col">
        <div  class="container shadow p-3 mb-5 rounded">
          <img  class="rounded" src="../../assets/PIC.jpg" style="width: 60%; display: block; ">
          <ul  class="list-group bg-transparent list-group-flush">
            <li  class=" text-light bg-transparent list-group-item">Programmer</li>
            <li  class=" text-light bg-transparent list-group-item">Web Developer</li>
            <li  class=" text-light bg-transparent list-group-item">Public Speaker</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>